name: Build Python Wheels
on:
  push:
    # only on commits, not on tags
    branches:
      - '**'
  workflow_dispatch:
# https://cibuildwheel.pypa.io/en/stable/setup/#github-actions
jobs:
  build_wheels:
    name: Build wheels on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        # macos-15 is arm64 (M1): https://docs.github.com/en/actions/reference/runners/github-hosted-runners#standard-github-hosted-runners-for-public-repositories
        os: [ubuntu-latest, windows-latest, macos-15, macos-15-intel]
    steps:
      - uses: actions/checkout@v5
      - name: Build wheels
        uses: pypa/cibuildwheel@v3.2.1
        env:
          # https://cibuildwheel.pypa.io/en/stable/options/#build-skip
          # Only build on CPython
          CIBW_BUILD: cp*
          # Disable free-threading builds on all platforms
          CIBW_SKIP: cp3??t-*
          # https://cibuildwheel.pypa.io/en/stable/options/#test-command
          CIBW_TEST_COMMAND: python -X dev -X warn_default_encoding -W error -m unittest discover -vs {package}
      - uses: actions/upload-artifact@v5
        with:
          name: cibw-wheels-${{ matrix.os }}-${{ strategy.job-index }}
          path: ./wheelhouse/*.whl
  # Afterwards:
  # - Go to https://github.com/haukex/lsdelta/actions and select the most recent run
  # - Download the (several) artefact files and extract them into `dist/`,
  #   alongside the locally built .tar.gz package
  # - python -m twine check dist/*{.tar.gz,.whl}
  # - python -m twine upload dist/*{.tar.gz,.whl}
